@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/JetBrainsMono-Regular.woff2") format("woff2");
}

.App {
  text-align: center;
}

body {
  background-color: #282c34;
  height: 100vh;
  padding: 10px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*,
::before,
::after {
  font-family: "JetBrains Mono", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 5px 5px 15px black;
  z-index: 1;
}

h1 {
  padding: 10px;
  margin: 0 0 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 15px #60d9f9;
  border: 2px solid #60d9f9;
  user-select: none;
  background-color: #1f1f1f;
  color: #60d9f9;
  text-shadow: 0 0 5px #60d9f9;
}

form {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.todo__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.todo__item {
  margin: 10px 0 10px;
  display: flex;
  justify-content: space-between;
  animation: item 0.3s alternate ease-out;
  user-select: none;
}

@keyframes item {
  from {
    opacity: 0;
    transform: translateY(130%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.todo__name {
  word-wrap: break-word;
  border-radius: 10px 0 0 10px;
  background-color: aliceblue;
  color: #282c34;
  padding: 5px;
  width: calc(100% - 36px);
  cursor: pointer;
  outline: 0;
  transition: background-color 0.3s, box-shadow 0.3s;
  /*user-select: none;*/
}

.todo__name:focus-visible {
  background-color: #1f1f1f;
  color: aliceblue;
}

.todo__name--done {
  text-decoration: line-through;
  color: #c9c9c9;
}

.todo__name--done:focus-visible {
  color: #c9c9c9;
}

.todo__input {
  border: none;
  flex-shrink: 1;
  border-radius: 10px 0 0 10px;
  background-color: aliceblue;
  padding: 0 10px 0 10px;
  outline: 0;
  width: 100%;
  font-size: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.todo__input:focus {
  background-color: #1f1f1f;
  color: aliceblue;
  box-shadow: 0 0 0 2px black inset;
}

.todo__btn {
  padding: 5px 10px;
  border: none;
  font-size: 20px;
  white-space: pre;
  color: #282c34;
  user-select: none;
}

.todo__btn-add-task {
  background-color: #60d9f9;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.1s;
}

.todo__btn-delete-task {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  background-color: #f96060;
  /*background-color: #797979;*/
  width: 36px;
  transition: background-color 0.1s;
}

.todo__btn-delete-task::before {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url('./assets/trash.svg');
}

.todo__btn-delete-task:hover,
.todo__btn-delete-task:focus {
  background-color: #e74040;
  outline: none;
}

.todo__btn-delete-task:active {
  background-color: #ff0000;
}

.todo__btn-add-task:hover,
.todo__btn-add-task:focus {
  background-color: #00c7ff;
  outline: none;
}

.todo__btn-add-task:active {
  background-color: #08ff00;
}

.todo__btn-add-task:focus-visible {
  text-decoration: underline;
}
